In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [75]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [76]:
# Preprocess the data
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [77]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [78]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder()
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [79]:
geo_encoded_df = pd.DataFrame(geo_encoded, columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [80]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df], axis = 1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [81]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [82]:
## Split the data in training and tetsing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [83]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [84]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [85]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [86]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression
])

In [87]:
## compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [88]:
import tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [89]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [90]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 3s 5ms/step - loss: 100388.4922 - mae: 100388.4922 - val_loss: 98562.4844 - val_mae: 98562.4844
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99818.3594 - mae: 99818.3594 - val_loss: 97418.2422 - val_mae: 97418.2422
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97830.7422 - mae: 97830.7422 - val_loss: 94492.8906 - val_mae: 94492.8906
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 93867.5703 - mae: 93867.5703 - val_loss: 89469.7031 - val_mae: 89469.7031
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 87853.6016 - mae: 87853.6016 - val_loss: 82629.7500 - val_mae: 82629.7500
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 80298.7422 - mae: 80298.7422 - val_loss: 74821.2500 - val_mae: 74821.2500
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 72242.7812 - mae: 72242.7812 - val_loss: 67204.2500 - val_mae: 67204.2500
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 64792.4609 - mae: 64792.4609 - val_loss: 60629.5977 - val_mae: 60629.5977
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 58787.4492 - mae: 58787.4492 - val_loss: 55774.6680 - val_mae: 55774.6680
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 54701.3789 - mae: 54701.3789 - val_loss: 52830.6641 - val_mae: 52830.6641
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 52348.3281 - mae: 52348.3281 - val_loss: 51335.0859 - val_mae: 51335.0859
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 51165.7344 - mae: 51165.7344 - val_loss: 50706.3711 - val_mae: 50706.3711
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50623.0664 - mae: 50623.0664 - val_loss: 50476.7617 - val_mae: 50476.7617
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50379.6289 - mae: 50379.6289 - val_loss: 50404.1641 - val_mae: 50404.1641
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50254.8008 - mae: 50254.8008 - val_loss: 50374.6250 - val_mae: 50374.6250
Epoch 16/100
250/250 [==============================] - 1s 6ms/step - loss: 50174.2891 - mae: 50174.2891 - val_loss: 50356.6484 - val_mae: 50356.6484
Epoch 17/100
250/250 [==============================] - 2s 8ms/step - loss: 50123.4102 - mae: 50123.4102 - val_loss: 50353.2617 - val_mae: 50353.2617
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50075.5703 - mae: 50075.5703 - val_loss: 50327.5508 - val_mae: 50327.5508
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 50037.8398 - mae: 50037.8398 - val_loss: 50328.4414 - val_mae: 50328.4414
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50006.3281 - mae: 50006.3281 - val_loss: 50308.3594 - val_mae: 50308.3594
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49980.2305 - mae: 49980.2305 - val_loss: 50299.8594 - val_mae: 50299.8594
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49952.7812 - mae: 49952.7812 - val_loss: 50289.5430 - val_mae: 50289.5430
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49926.9492 - mae: 49926.9492 - val_loss: 50282.7852 - val_mae: 50282.7852
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49903.9648 - mae: 49903.9648 - val_loss: 50268.3906 - val_mae: 50268.3906
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49883.4844 - mae: 49883.4844 - val_loss: 50262.1914 - val_mae: 50262.1914
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49861.0781 - mae: 49861.0781 - val_loss: 50250.0508 - val_mae: 50250.0508
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49841.8789 - mae: 49841.8789 - val_loss: 50243.8906 - val_mae: 50243.8906
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49823.9648 - mae: 49823.9648 - val_loss: 50244.6484 - val_mae: 50244.6484
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49807.5039 - mae: 49807.5039 - val_loss: 50228.2539 - val_mae: 50228.2539
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49791.8633 - mae: 49791.8633 - val_loss: 50223.5117 - val_mae: 50223.5117
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49775.3516 - mae: 49775.3516 - val_loss: 50226.1797 - val_mae: 50226.1797
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49759.7422 - mae: 49759.7422 - val_loss: 50213.9727 - val_mae: 50213.9727
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49747.3672 - mae: 49747.3672 - val_loss: 50212.2695 - val_mae: 50212.2695
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49735.4844 - mae: 49735.4844 - val_loss: 50208.0898 - val_mae: 50208.0898
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49723.3047 - mae: 49723.3047 - val_loss: 50200.0156 - val_mae: 50200.0156
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49712.7617 - mae: 49712.7617 - val_loss: 50203.0586 - val_mae: 50203.0586
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49697.2852 - mae: 49697.2852 - val_loss: 50200.2344 - val_mae: 50200.2344
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49686.4297 - mae: 49686.4297 - val_loss: 50192.3242 - val_mae: 50192.3242
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49673.7539 - mae: 49673.7539 - val_loss: 50200.6641 - val_mae: 50200.6641
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49663.9531 - mae: 49663.9531 - val_loss: 50202.4141 - val_mae: 50202.4141
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49653.3320 - mae: 49653.3320 - val_loss: 50201.7695 - val_mae: 50201.7695
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49643.9023 - mae: 49643.9023 - val_loss: 50206.7344 - val_mae: 50206.7344
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49631.7109 - mae: 49631.7109 - val_loss: 50198.5508 - val_mae: 50198.5508
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49623.1680 - mae: 49623.1680 - val_loss: 50199.6016 - val_mae: 50199.6016
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49613.8125 - mae: 49613.8125 - val_loss: 50196.7031 - val_mae: 50196.7031
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49608.8750 - mae: 49608.8750 - val_loss: 50199.9375 - val_mae: 50199.9375
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49593.8359 - mae: 49593.8359 - val_loss: 50208.8047 - val_mae: 50208.8047
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49589.6250 - mae: 49589.6250 - val_loss: 50212.3867 - val_mae: 50212.3867

In [96]:
## Save the Model
model.save('model.h5')

In [92]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [93]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 13776), started 1:21:56 ago. (Use '!kill 13776' to kill it.)

In [94]:
## Evaluate the model
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50192.3242 - mae: 50192.3242
Test MAE : 50192.32421875